.App {
  text-align: center;
}

.Button {
  color: white;
  border: 1px solid green;
  background: green;
  border-radius: 3px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.Button:hover {
  background: lightgreen;
  color: green;
}

.Button.Red {
  border: 1px solid red;
  background: red;
}

.Button.Red:hover {
  background: salmon;
  color: red;
}

